@use 'core/variables.scss';

.header {
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.footer p {
  text-align: center;
}